In [2]:
import pandas as pd
from sql_client import SqlClient

In [3]:
SERVER_NAME = "teamseven.ct4lx0aqwcg9.ca-central-1.rds.amazonaws.com"
DATABASE_NAME = "eicu_demo"
USERNAME = "admin"
PASSWORD = "jXGiWT5FqVTyMQHXa74c"
s = SqlClient(SERVER_NAME, DATABASE_NAME, USERNAME, PASSWORD)

In [9]:
diag = s.select("diagnosis_squashed").set_index('patientunitstayid')
lab = s.select("lab_flat").set_index('patientunitstayid')
patient = s.select("patient").set_index('patientunitstayid')

In [11]:
joined = diag.join([lab, patient], how="inner")

In [14]:
joined.drop('labname', inplace=True, axis=1)

In [15]:
joined

,icd9code,bands,basos,eos,lymphs,monos,polys,_24_h_urine_protein,_24_h_urine_urea_nitrogen,ALT_SGPT,...,unitadmitsource,unitvisitnumber,unitstaytype,admissionweight,dischargeweight,unitdischargetime24,unitdischargeoffset,unitdischargelocation,unitdischargestatus,uniquepid
patientunitstayid,,,,,,,,,,,,,,,,,,,,,
143870,No Code;No Code;No Code,None,0.0,0.000000,8.000000,4.00,88.0,None,None,NaN,...,Operating Room,1,admit,77.5,79.4,10:00:00,793,Floor,Alive,002-12289
145427,"038.9, A41.9;No Code;No Code;562.11, K57.32;56...",1.0,0.0,1.000000,21.250000,9.75,67.0,None,None,29.000000,...,Operating Room,1,admit,91.7,93.1,22:47:00,1369,Floor,Alive,002-12243
151179,"276.2, E87.2;785.52, R65.21;No Code;275.41, E8...",3.6,NaN,2.000000,3.750000,6.40,84.0,None,None,15.000000,...,Emergency Department,1,admit,NaN,73.0,02:50:00,4904,Floor,Alive,002-10079
151867,No Code;No Code,None,0.0,1.000000,12.750000,9.25,77.0,None,None,26.000000,...,Operating Room,1,admit,NaN,84.1,06:18:00,1883,Floor,Alive,002-10323
151900,"518.82;No Code;486, J18.9;790.6, R73.9;584.9, ...",None,0.0,2.000000,12.500000,5.50,77.5,None,None,51.000000,...,Emergency Department,1,admit,86.8,79.0,20:05:00,3460,Floor,Alive,002-10052
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3351763,"518.81, J96.00;No Code;518.81, J96.00;No Code",None,0.0,1.000000,15.000000,7.00,NaN,None,None,32.800000,...,Operating Room,1,admit,134.5,133.3,19:24:00,5394,Step-Down Unit (SDU),Alive,035-10391
3352230,"997.1, I97.89;No Code;410.90, I21.3;410.90, I2...",None,0.0,0.000000,12.500000,9.00,NaN,None,None,21.000000,...,Operating Room,2,transfer,127.0,128.5,21:34:00,4261,Telemetry,Alive,035-10089
3352231,"410.90, I21.3",None,1.0,1.000000,27.000000,11.00,NaN,None,None,22.000000,...,Direct Admit,1,admit,127.0,135.2,22:26:00,1369,Other ICU,Alive,035-10089
3352333,"560.9, K56.60;518.82;518.82;291.81, F10.239;56...",None,0.0,0.333333,4.666667,9.00,NaN,None,None,15.333333,...,Other Hospital,1,admit,68.3,66.5,17:26:00,4166,Floor,Alive,035-10041
3353113,"401.9, I10;780.09, 980.0, E980.2, T51.0;401.9,...",None,2.0,0.000000,24.000000,11.00,NaN,None,None,96.000000,...,Floor,1,admit,88.0,83.9,18:45:00,2694,Telemetry,Alive,035-10030

In [16]:
joined.to_csv('joined_data.csv')