In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('trimmed_data_labelled.csv')
df.head()

,patientunitstayid,hyperkalemic,-basos,-eos,-lymphs,-monos,-polys,ALT (SGPT),AST (SGOT),BUN,...,phosphate,platelets x 1000,potassium,sodium,total bilirubin,total protein,triglycerides,troponin - I,urinary specific gravity,falsepositive
0,141266,True,0.0,3.0,16.0,13.0,82.0,38.0,76.0,31.0,...,2.5,283.0,5.2,142.0,1.0,8.1,108.0,15.44,1.020,False
1,141296,False,NaN,NaN,1.0,7.0,91.0,61.0,199.0,76.0,...,NaN,486.0,5.6,140.0,0.6,7.0,NaN,NaN,NaN,True
2,141297,True,NaN,NaN,7.0,8.0,89.0,111.0,325.0,70.0,...,16.8,477.0,10.3,139.0,0.9,7.0,203.0,0.72,NaN,False
3,141304,True,0.0,2.0,6.0,6.0,91.0,43.0,31.0,48.0,...,4.1,286.0,5.8,146.0,0.3,6.8,NaN,NaN,1.015,False
4,141313,False,0.0,1.0,16.0,8.0,75.0,57.0,26.0,15.0,...,NaN,226.0,5.2,142.0,0.2,4.9,NaN,NaN,NaN,True

In [3]:
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(strategy='median')

In [4]:
df_filled = imputer.fit_transform(df)
df_filled = pd.DataFrame(data=df_filled, columns=df.columns)

In [5]:
X = df_filled.drop(columns=['falsepositive'])
X.head()

,patientunitstayid,hyperkalemic,-basos,-eos,-lymphs,-monos,-polys,ALT (SGPT),AST (SGOT),BUN,...,paO2,phosphate,platelets x 1000,potassium,sodium,total bilirubin,total protein,triglycerides,troponin - I,urinary specific gravity
0,141266.0,1.0,0.0,3.0,16.0,13.0,82.0,38.0,76.0,31.0,...,291.0,2.5,283.0,5.2,142.0,1.0,8.1,108.0,15.44,1.020
1,141296.0,0.0,0.4,2.0,1.0,7.0,91.0,61.0,199.0,76.0,...,54.0,4.7,486.0,5.6,140.0,0.6,7.0,129.0,0.16,1.017
2,141297.0,1.0,0.4,2.0,7.0,8.0,89.0,111.0,325.0,70.0,...,434.0,16.8,477.0,10.3,139.0,0.9,7.0,203.0,0.72,1.017
3,141304.0,1.0,0.0,2.0,6.0,6.0,91.0,43.0,31.0,48.0,...,89.0,4.1,286.0,5.8,146.0,0.3,6.8,129.0,0.16,1.015
4,141313.0,0.0,0.0,1.0,16.0,8.0,75.0,57.0,26.0,15.0,...,256.0,4.7,226.0,5.2,142.0,0.2,4.9,129.0,0.16,1.017

In [6]:
from sklearn import preprocessing
normalized_X = preprocessing.scale(X)

In [7]:
y = df_filled['falsepositive'].values#view target values
y[0:5]

array([0., 1., 0., 0., 1.])

In [8]:
from sklearn.model_selection import train_test_split
#split dataset into train and test data
X_train, X_test, y_train, y_test = train_test_split(normalized_X, y, test_size=0.2, random_state=1)

X_train, X_val, y_train, y_val = train_test_split(X_train, y_train, test_size=0.25, random_state=1) # 0.25 x 0.8 = 0.2

In [9]:
from sklearn.neighbors import KNeighborsClassifier# Create KNN classifier
knn = KNeighborsClassifier(n_neighbors = 10)# Fit the classifier to the data
knn.fit(X_train,y_train)

KNeighborsClassifier(n_neighbors=10)

In [10]:
#show first 5 model predictions on the test data
knn.predict(X_test)[0:5]

array([0., 0., 0., 1., 1.])

In [11]:
knn.score(X_test, y_test)

0.9742686475723694

In [12]:
preds = knn.predict(X_val)

In [13]:
from sklearn.metrics import accuracy_score, f1_score, precision_score, recall_score

In [14]:
accuracy_score(y_val, (preds > 0.5))

0.9707414215686274

In [15]:
f1_score(y_val, (preds > 0.5))

0.9395378284267173

In [16]:
precision_score(y_val, (preds > 0.5))

0.9979825151311366

In [17]:
recall_score(y_val, (preds>0.5))

0.8875598086124402

In [18]:
# a = []
# b = []

# for i in range(1, 100):
#     knn = KNeighborsClassifier(n_neighbors = i)# Fit the classifier to the data
#     knn.fit(X_train,y_train)
#     a.append(i)
#     b.append(knn.score(X_test, y_test))

In [19]:
# import seaborn as sns
# sns.lineplot(a,b)