In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('full_data_labelled.csv')
df.head()

,patientunitstayid,hyperkalemic,-basos,-eos,-lymphs,-monos,-polys,ALT (SGPT),AST (SGOT),BUN,...,phosphate,platelets x 1000,potassium,sodium,total bilirubin,total protein,triglycerides,troponin - I,urinary specific gravity,falsepositive
0,141168,True,0.0,1.0,19.0,19.0,80.0,1189.0,4257.0,29.0,...,7.9,213.0,4.3,140.0,5.2,7.1,NaN,0.26,NaN,False
1,141203,True,0.0,0.0,20.0,7.0,93.0,20.0,37.0,11.0,...,NaN,557.0,4.2,145.0,0.5,6.6,NaN,0.02,1.026,False
2,141227,True,NaN,2.0,15.0,6.0,68.0,NaN,NaN,32.0,...,NaN,272.0,4.2,134.0,NaN,NaN,NaN,0.50,1.025,False
3,141229,True,1.0,2.0,39.0,11.0,70.0,47.0,48.0,25.0,...,NaN,305.0,4.1,146.0,0.3,7.8,77.0,NaN,1.020,False
4,141266,True,0.0,3.0,16.0,13.0,82.0,38.0,76.0,31.0,...,2.5,283.0,5.2,142.0,1.0,8.1,108.0,15.44,1.020,False

In [3]:
from sklearn.impute import KNNImputer
imputer = KNNImputer(n_neighbors=5)

In [4]:
df_filled = imputer.fit_transform(df)
df_filled = pd.DataFrame(data=df_filled, columns=df.columns)

C:\Users\Raymond\AppData\Local\Programs\Python\Python37\lib\site-packages\sklearn\impute\_iterative.py:670: ConvergenceWarning: [IterativeImputer] Early stopping criterion not reached.
  " reached.", ConvergenceWarning)

In [ ]:
X = df_filled.drop(columns=['falsepositive'])
X.head()

In [ ]:
y = df_filled['falsepositive'].values#view target values
y[0:5]

In [ ]:
from sklearn.model_selection import train_test_split
#split dataset into train and test data
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=1, stratify=y)

In [ ]:
from sklearn.neighbors import KNeighborsClassifier# Create KNN classifier
knn = KNeighborsClassifier(n_neighbors = 10)# Fit the classifier to the data
knn.fit(X_train,y_train)

In [ ]:
#show first 5 model predictions on the test data
knn.predict(X_test)[0:5]

In [ ]:
knn.score(X_test, y_test)

In [ ]:
a = []
b = []

for i in range(1, 100):
    knn = KNeighborsClassifier(n_neighbors = i)# Fit the classifier to the data
    knn.fit(X_train,y_train)
    a.append(i)
    b.append(knn.score(X_test, y_test))

In [ ]:
import seaborn as sns
sns.lineplot(a,b)