In [1]:
import pandas as pd
from sql_client import SqlClient

In [2]:
SERVER_NAME = "teamseven.ct4lx0aqwcg9.ca-central-1.rds.amazonaws.com"
DATABASE_NAME = "eicu_demo"
USERNAME = "admin"
PASSWORD = "jXGiWT5FqVTyMQHXa74c"
s = SqlClient(SERVER_NAME, DATABASE_NAME, USERNAME, PASSWORD)

In [3]:
df = s.select('lab_squashed')
df

,labname,patientunitstayid,labresultoffset,bands,basos,eos,lymphs,monos,polys,_24_h_urine_protein,...,total_protein,transferrin,triglycerides,troponin_I,troponin_T,uric_acid,urinary_creatinine,urinary_osmolality,urinary_sodium,urinary_specific_gravity
0,0,141765,-169,None,0.0,0.0,10.0,4.0,86.0,None,...,7.4,NaN,None,0.02,NaN,NaN,None,NaN,None,None
1,1,141765,81,None,NaN,NaN,NaN,NaN,NaN,None,...,NaN,NaN,None,0.02,NaN,NaN,None,NaN,None,None
2,2,141765,646,None,0.0,1.0,19.0,10.0,70.0,None,...,NaN,NaN,None,NaN,NaN,NaN,None,NaN,None,None
3,3,141765,775,None,NaN,NaN,NaN,NaN,NaN,None,...,NaN,NaN,None,NaN,NaN,NaN,None,NaN,None,None
4,4,141765,934,None,NaN,NaN,NaN,NaN,NaN,None,...,NaN,NaN,None,NaN,NaN,NaN,None,NaN,None,1.01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59500,59500,3353113,-2639,None,NaN,NaN,NaN,NaN,NaN,None,...,NaN,NaN,None,NaN,NaN,NaN,None,NaN,None,None
59501,59501,3353113,-2171,None,NaN,NaN,NaN,NaN,NaN,None,...,5.8,NaN,None,NaN,NaN,NaN,None,NaN,None,None
59502,59502,3353113,-780,None,NaN,NaN,NaN,NaN,NaN,None,...,NaN,NaN,None,NaN,NaN,NaN,None,NaN,None,None
59503,59503,3353113,-2733,None,2.0,0.0,24.0,11.0,NaN,None,...,NaN,NaN,None,NaN,NaN,NaN,None,NaN,None,None
59504,59504,3353113,-2657,None,NaN,NaN,NaN,NaN,NaN,None,...,NaN,NaN,None,NaN,NaN,NaN,None,NaN,None,None

In [14]:
df.drop(['labname','labresultoffset'], axis=1)

,patientunitstayid,bands,basos,eos,lymphs,monos,polys,_24_h_urine_protein,_24_h_urine_urea_nitrogen,ALT_SGPT,...,total_protein,transferrin,triglycerides,troponin_I,troponin_T,uric_acid,urinary_creatinine,urinary_osmolality,urinary_sodium,urinary_specific_gravity
0,141765,None,0.0,0.0,10.0,4.0,86.0,None,None,29.0,...,7.4,NaN,None,0.02,NaN,NaN,None,NaN,None,None
1,141765,None,NaN,NaN,NaN,NaN,NaN,None,None,NaN,...,NaN,NaN,None,0.02,NaN,NaN,None,NaN,None,None
2,141765,None,0.0,1.0,19.0,10.0,70.0,None,None,NaN,...,NaN,NaN,None,NaN,NaN,NaN,None,NaN,None,None
3,141765,None,NaN,NaN,NaN,NaN,NaN,None,None,NaN,...,NaN,NaN,None,NaN,NaN,NaN,None,NaN,None,None
4,141765,None,NaN,NaN,NaN,NaN,NaN,None,None,NaN,...,NaN,NaN,None,NaN,NaN,NaN,None,NaN,None,1.01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59500,3353113,None,NaN,NaN,NaN,NaN,NaN,None,None,NaN,...,NaN,NaN,None,NaN,NaN,NaN,None,NaN,None,None
59501,3353113,None,NaN,NaN,NaN,NaN,NaN,None,None,123.0,...,5.8,NaN,None,NaN,NaN,NaN,None,NaN,None,None
59502,3353113,None,NaN,NaN,NaN,NaN,NaN,None,None,NaN,...,NaN,NaN,None,NaN,NaN,NaN,None,NaN,None,None
59503,3353113,None,2.0,0.0,24.0,11.0,NaN,None,None,NaN,...,NaN,NaN,None,NaN,NaN,NaN,None,NaN,None,None
59504,3353113,None,NaN,NaN,NaN,NaN,NaN,None,None,NaN,...,NaN,NaN,None,NaN,NaN,NaN,None,NaN,None,None

In [15]:
df.dtypes

labname                      object
patientunitstayid             int64
labresultoffset               int64
bands                        object
basos                       float64
                             ...
uric_acid                   float64
urinary_creatinine           object
urinary_osmolality          float64
urinary_sodium               object
urinary_specific_gravity     object
Length: 147, dtype: object

In [21]:
new = pd.concat([df['patientunitstayid'], df.loc[:, df.columns != 'patientunitstayid'].astype('float64', copy=True)], axis=1)

In [22]:
new

,patientunitstayid,labname,labresultoffset,bands,basos,eos,lymphs,monos,polys,_24_h_urine_protein,...,total_protein,transferrin,triglycerides,troponin_I,troponin_T,uric_acid,urinary_creatinine,urinary_osmolality,urinary_sodium,urinary_specific_gravity
0,141765,0.0,-169.0,NaN,0.0,0.0,10.0,4.0,86.0,NaN,...,7.4,NaN,NaN,0.02,NaN,NaN,NaN,NaN,NaN,NaN
1,141765,1.0,81.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.02,NaN,NaN,NaN,NaN,NaN,NaN
2,141765,2.0,646.0,NaN,0.0,1.0,19.0,10.0,70.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,141765,3.0,775.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,141765,4.0,934.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59500,3353113,59500.0,-2639.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
59501,3353113,59501.0,-2171.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
59502,3353113,59502.0,-780.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
59503,3353113,59503.0,-2733.0,NaN,2.0,0.0,24.0,11.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
59504,3353113,59504.0,-2657.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [23]:
new.dtypes

patientunitstayid             int64
labname                     float64
labresultoffset             float64
bands                       float64
basos                       float64
                             ...
uric_acid                   float64
urinary_creatinine          float64
urinary_osmolality          float64
urinary_sodium              float64
urinary_specific_gravity    float64
Length: 147, dtype: object

In [26]:
squashed = new.groupby(['patientunitstayid']).mean()
squashed

,labname,labresultoffset,bands,basos,eos,lymphs,monos,polys,_24_h_urine_protein,_24_h_urine_urea_nitrogen,...,total_protein,transferrin,triglycerides,troponin_I,troponin_T,uric_acid,urinary_creatinine,urinary_osmolality,urinary_sodium,urinary_specific_gravity
patientunitstayid,,,,,,,,,,,,,,,,,,,,,
141765,2.5,725.500000,NaN,0.0,0.500000,14.500000,7.00,78.0,NaN,NaN,...,7.400000,NaN,NaN,0.020000,NaN,NaN,NaN,NaN,NaN,1.0100
143870,8.0,85.200000,NaN,0.0,0.000000,8.000000,4.00,88.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
144815,12.0,65.333333,NaN,0.5,0.500000,20.000000,7.00,72.0,NaN,NaN,...,7.600000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
145427,17.5,1305.750000,1.0,0.0,1.000000,21.250000,9.75,67.0,NaN,NaN,...,6.800000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0150
147306,22.0,177.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3351763,59293.0,-8001.054187,NaN,0.0,1.000000,15.000000,7.00,NaN,NaN,NaN,...,5.320000,NaN,183.0,NaN,NaN,NaN,NaN,NaN,NaN,1.0145
3352230,59433.0,4137.870130,NaN,0.0,0.000000,12.500000,9.00,NaN,NaN,NaN,...,6.800000,NaN,173.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3352231,59476.0,451.555556,NaN,1.0,1.000000,27.000000,11.00,NaN,NaN,NaN,...,6.800000,NaN,142.0,3.756667,NaN,NaN,NaN,NaN,NaN,NaN
3352333,59488.5,1200.812500,NaN,0.0,0.333333,4.666667,9.00,NaN,NaN,NaN,...,6.166667,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3353113,59500.5,-676.625000,NaN,2.0,0.000000,24.000000,11.00,NaN,NaN,NaN,...,6.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [32]:
squashed.drop('labresultoffset', axis=1, inplace=True)

In [33]:
squashed.to_csv('lab_flat.csv')